
        body, .main, .main_bg {
            background-color: #f9fafd;
        }

        .container {
            width: 1198px;
        }
        .catesBox a { margin:0px 5px;
        }
.catesBox { width: 100%;  margin: 10px auto; line-height:40px; }
.catesBox a { display: inline-block; zoom:1; font-size: 14px; line-height: 28px; height: 28px; border:1px solid #e4f2fd; 
              background: #f5fdff; color: #3376ab; padding: 0px 15px; margin: 0px 10px 2px 0px; text-decoration: none;}
.catesBox a:hover , .catesBox a.cur { background: #189ae5; border-color: #189ae5; color: #fff; }
        .rds img { border-radius:5px 5px;
        }

        .main1200 { width:100%;
        } 
.gp-wrap{width:1200px;margin-left:auto;margin-right:200px; margin-bottom:40px;}
.gp-lwrap{float:left;width:920px; }
        .bread-crumb { 
            width: 1200px;
        }
         .P_conten {
          font-size:16px;}
        .gp-tl-mod .gp-txt {
            width: 800px;
            padding:20px 30px; border:solid 1px #ddd; background-color:#fff;
        }
        .gp-pl-ls {
            width: 840px; overflow:hidden; font-size:14px;
        }
        .tit ,.aside{ height:auto;  
        }
        .tit h1 { font-size:30px; line-height:36px;  
        }
        .gp-ht-titbox .aside{margin-left:0px;_margin-left:0px;  margin-right:0px;}
.w718{width:824px; border-radius:5px; padding-top:10px;  }body,.main,.main_bg  { background-color:#ebeef2;
        }
         .gp-pl-area { margin-top:20px;
         }
         p.litit { font-size:14px;
         }
.gp-rwrap{float:right;width:260px; margin-top:10px;}

        
    .homeTab a {
        display: block; 
        padding-right: 12px;
        padding-left: 12px;
        height: 50px;
        box-sizing: border-box;
        cursor: pointer;
        overflow: hidden;
    }

        .homeTab a:hover ,.homeTab a.is-active {
            background-color: #e7e7e7;
        }
         
        .homeTab a em{
            display: inline-block;
        width: 8px;
        height: 24px;
        background: url(/images/biaotilan_xiala2.png) no-repeat left center;
        margin-left: 0px;
        position: relative;
        top: 8px;
        }
         
        .homeTab a.is-active:before {
            right: 0;
        }

        .homeTab a.is-active:before, .homeTab a.loading:before {
            background-color: #5079b7;
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            top: 0;
        }

        .homeTab a.loading:before {
            animation: 2s ease 0s normal none infinite running b;
            width: 100%;
        }
        .homeTab li{ float:left; position:relative;z-index: 1; }
        .homeTab li.level1:hover ul{ display:inline;}
        
    .homeTab .subnav{
        clear:both;  display:none; position:absolute; top:50px; left:0px; z-index: 9999999; 
        width:600px; background:#fff;
        border:1px solid #b6b6b6;border-top:none;padding:5px 12px 15px 10px; 
             z-index:1;background-color:#fff; width:350px; box-shadow:0px 1px 3px#ccc; 
    }
    .homeTab .subnav2{ 
        clear:both;  display:none; position:absolute; top:50px; right:0px; z-index: 9999999; 
        width:600px; background:#fff;
        border:1px solid #b6b6b6;border-top:none;padding:5px 12px 15px 10px; 
             z-index:1;background-color:#fff; width:350px; box-shadow:0px 1px 3px#ccc; 
    }
.homeTab li.level1:hover a{
            background-color: #e7e7e7;} 
.homeTab li.level1:hover .subnav li a{
            background-color: #fff;} 
.homeTab li.level1:hover .subnav2 li a{
            background-color: #fff;} 
    
.homeTab .subnav li{ float:left; position:relative;float:left;width:100px;background-color:#fff;margin:5px 8px; line-height:27px; 
                height:27px;border:0;border-bottom:solid 1px #e4e4e4;}
.homeTab .subnav li a{ background-color:#fff;line-height:25px;font-size:15px;background:none;padding:0px;height:25px;
                             font-weight:normal;width:100px;border:0;color:#444;text-align:center;}
.homeTab .subnav li a:hover{ background-color:#fff;text-decoration:underline;font-weight:normal;color:#222;} 
        .homeTab .subnav li a.is-active2 {
            color:#ff6600;
        }
.homeTab .subnav2 li{ float:left; position:relative;float:left;width:100px;background-color:#fff;margin:5px 8px; line-height:27px; 
                height:27px;border:0;border-bottom:solid 1px #e4e4e4;}
.homeTab .subnav2 li a{ background-color:#fff;line-height:25px;font-size:15px;background:none;padding:0px;height:25px;
                             font-weight:normal;width:100px;border:0;color:#444;text-align:center;}
.homeTab .subnav2 li a:hover{ background-color:#fff;text-decoration:underline;font-weight:normal;color:#222;} 
        .homeTab .subnav2 li a.is-active2 {
            color:#ff6600;
        }
         a.shoucang{display:inline-block; text-decoration:none; padding:0px 8px; float:right; border:1px solid #e5e5e5; margin-left:10px}
 a.shoucang:hover{color:#000; background-color:#e0ecf7; border:solid 1px #cbcde2}
         .divshoucang { position:absolute; right:0px; top:10px;
         }
