@charset "utf-8";
/* CSS Document */
body{margin:0 auto;padding:0; color:#414141;height: auto;background:#fff;overflow-x:hidden}
body,button,input,select,textarea{font:14px verdana,"\5FAE\8F6F\96C5\9ED1",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53";}
body,button,input,select,textarea{font-family:"微软雅黑","Arial";}
input,select,textarea{font-size:100%;}
a{ color:#333; text-decoration:none;}
img{ vertical-align:top; border:0;}
ul,li,ol,dl,dt,dd{margin:0; padding:0; list-style:none;}
a:hover,
a:focus {
	color:#2160d4;
    text-decoration:none;
}
.color-y{
	color:#0152D9!important;
}
.color-b{
	color:#0152D9!important;
}
.width-full{
	width:100%!important;
}
.right{
	float:right!important;
}
.left{
	float:left!important;
}
.container{
	width:1200px;
	margin:0 auto;
}
.btn-main{
	background: #0152D9;
	border-radius: 2px;
	text-align:center;
	color:#fff;
	border:1px solid #0152D9;
	cursor:pointer
}
.btn-main-border{
	background: #fff;
	border-radius: 2px;
	text-align:center;
	color:#0152D9;
	border:1px solid #0152D9;
	cursor:pointer
}
/*页面头部top*/
#page-head{
	width:100%;
	float:left;
	z-index:999;
	position:relative;
}
.page-top-info{
	height: 35px;
	background: #F1F1F1;
	line-height:35px;
	color: #999999;	
	font-size: 12px;
}
.page-top-info .right a{
	margin-left:20px;
	color: #999999;	
}

.page-top-pc{
	width:100%;
	float:left;
	height:80px;
}
.page-logo-pc{
	float:left;
	margin-top:10px;
}
.page-nav-pc{
	margin-top:5px;
}
.page-nav-pc .nav{
	float:left;
	margin-left:40px;
	height:70px;
	line-height:70px;
	font-size:16px;
	color:#fff;
}

.page-nav-pc .nav.on{
	background:url(../images/nav-line.png) no-repeat center 55px;
}

.vip-btn{
	width: 130px;
	height: 34px;
	background: linear-gradient(133deg, #EBC900 0%, #FBB504 100%);
	border-radius: 4px;
	color:#fff;
	line-height:34px;
	text-align:center;
	margin-top:22px;
}
.vip-btn img{
	vertical-align:middle;
	margin-right:3px;
}
/*页面头部end*/

.footer{
	height: 288px;
	background: #1B1D1F;
	margin-top:35px;
}
.footer .nav{
	float:left;
	color:#AAAAAA;
	font-size:14px;
	border-right:1px solid #282828;
	height:158px;
	margin-top:31px;
}
.footer .nav a{
	color:#AAAAAA;
}
.footer .nav b{	
	color: #FFFFFF;
	font-size: 16px;
}
.footer .nav1{
	width:230px;
}
.footer .nav1 ul{
	margin-top:10px;
}
.footer .nav1 ul li{
	line-height:45px;
}
.footer .nav1 ul li img{
	vertical-align:middle;
	margin-top:-2px;
}
.footer .nav2{
	width:190px;
	text-align:center;
}
.footer .nav2 ul{
	margin-top:10px;
}
.footer .nav2 ul li{
	line-height:30px;
}
.footer .nav3{
	border-right:0px solid #282828;
	margin-left:60px;
}
.footer .nav3 ul{
	margin-top:0px;
}
.footer .nav3 ul li{
	line-height:35px;
}
.foot-text{
	border-top:1px solid #282828;
	margin-top:19px;
	text-align:center;
}
.foot-text p{
	line-height:28px;
	color:#AAAAAA;
}

/* 页面头部2 */
.container-full{
	width:90%;
	float:left;
	margin-left:5%;
}
.page-menu.top2{
	background:#fff;
}
.page-menu.top2 .page-nav-pc .nav{
	color:#666;
}
.page-menu.top2 .page-nav-pc .nav.on{
	color:#0152D9;
	background:url(../images/nav-line2.png) no-repeat center 55px;
}
	.page-menu.top2 .seach-box {
		width: 30%;
		float: left;
		position: relative;
		margin-left: 20px;
		margin-top: 20px;
		min-width: 400px;
	}
.page-menu.top2 .seach-box .seach-input{
	width:100%;
	height: 34px;
background: #FFFFFF;
border-radius: 29px;
border: 1px solid #0152D9;
text-indent:20px;
}
.page-menu.top2 .seach-box .seach-btn{
	width: 105px;
height: 34px;
cursor:pointer;
border-radius: 0px 29px 29px 0px;
background:url(../images/seach2.png) no-repeat 20px 10px #0152D9;
border:0;
color:#fff;
position:absolute;
right:-6px;
top:0;
}
.zhe-bg{
	width:100%;
	height:100%;
	position:fixed;
	z-index:999;
	background:rgba(0,0,0,.3);
}
.login-box{
	width: 440px;
height: 420px;
background: #FFFFFF;
border-radius: 12px;
position:fixed;
z-index:8888;
top:30%;
left:50%;
margin-left:-220px;
float:left;
}
.login-box .esc{
	position:absolute;
	top:-60px;
	right:0;
	cursor:pointer;
}
.login-box .nav-box{
	width:470px;
	float:left;
	margin-top:20px;
	margin-left:30px;
}
.login-box .nav-box .nav{
	height:40px;
	line-height:40px;
	font-size: 18px;
	margin-right:44px;
	float:left;	
	cursor:pointer;
	color: #999999;
	
}
.login-box .nav-box .nav.on{
	border-bottom:2px solid #0152D9;
	color:#333;
	font-weight:bold;
}

.ewm-login{
	position:absolute;
	top:0px;
	right:0;
	cursor:pointer;
}
.login-form{
	width:380px;
	margin-left:30px;
	float:left;
	margin-top:0px;
}
.login-form input.login-input{
	border:0;
	border-bottom:1px solid #E6E6E6;
	height:50px;
	float:left;
	width:100%;
	margin-top:20px;
}
.login-form .login-ji{
	width:100%;
	float:left;
	margin-top:20px;
}
.login-form .login-ji span{
	float:right;
}
.login-form .login-ji span a{
	color:#0152D9;
}
.login-form  .login-btn{
	width: 100%;
height: 44px;
background: #0152D9;
border-radius: 4px;
border:0;
color:#fff;
font-size:16px;
cursor:pointer;
margin-top:30px;
}
.login-box .login-txt{
	height: 60px;
background: #F7F8F9;
border-radius: 0px 0px 12px 12px;
width:100%;
float:left;
position:absolute;
bottom:0;
line-height:60px;
text-indent:30px;
color:#999;
}
.login-box .login-txt a{
	color:#0152D9;
}
.login-box .login-yan{
	color:#0152D9;
	float:right;
	margin-top:-37px;
	cursor:pointer;
}
.login-form p{
	color: #AAAAAA;
line-height: 20px;
width:100%;
float:left;
margin-bottom:-10px;
}
.login-2 .tit{
	width:100%;
	height:40px;
	line-height:40px;
	font-size: 18px;
	font-weight:bold;
	margin-top:20px;
	text-align:center;
	float:left;
}
.login-2 .con{
	width:370px;
	float:left;
	margin-left:64px;
	margin-top:68px;
}
.login-2 .con img{
	float:left;
	width:170px;
}
.login-2 .con p{
	margin-left:30px;
	margin-top:63px;
	line-height:20px;
	float:left;
}
@media (max-width: 1860px ){
		.page-menu.top2 .seach-box{
			width:25%;
		}
}
@media (max-width: 1730px ){
		.page-menu.top2 .seach-box{
			width:20%;
		}
}
@media (max-width: 1624px ){
		.page-menu.top2 .seach-box{
			width:18%;
		}
}
@media (max-width: 1587px ){
		.page-menu.top2 .seach-box{
			width:330px;
		}
}
@media (max-width: 1557px ){
		.page-nav-pc .nav{
			margin-left:30px;
		}
}
@media (max-width: 1460px ){
		.page-nav-pc .nav{
			margin-left:20px;
		}
}
@media (max-width: 1360px ){
		.container-full{
			width:96%;
			margin-left:2%;
		}
}
@media (max-width: 1275px ){
		.container-full{
			width:1200px;
			margin-left:20px;
		}
		.page-nav-pc .nav{
			margin-left:15px;
		}
}